@import "../../../scss/main.scss";

// .whatsapp-icon{
//     position: absolute;
//     bottom: 7%;
//     right: 2%;
//     border: 2px solid black;
//     padding: 8px;
//     border-radius: 50%;

//     svg{
//         width: 35px;
//         height: 35px;
//     }
// }
footer {
  overflow: hidden;
  // border-top: 1px solid black;
  margin-top: 30px;
}
.footer {
  width: 100%;
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer-logo-img {
    width: 75px;
    height: 75px;
  }
  .footer-logo-name {
    @include font1;
    margin-top: 15px;
    p {
      letter-spacing: 1.5px;
      font-size: 13px;
      color: rgb(70, 70, 70);
      font-weight: normal;
      span {
        font-weight: 700;
      }
    }
  }
}
.footer-links{
  gap: 4px;
}
.footer-products{
  gap: 4px;
}
.footer-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    @include font1;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
  p {
    @include font1;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    letter-spacing: 1.2px;
    &:hover {
      border-bottom: 2px solid black;
    }
    cursor: pointer;
    span svg {
      width: 16px;
      height: 16px;
    }
  }
}
.whatsapp-icon-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: fit-content;
  height: fit-content;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: rgba(37, 211, 102, 0.4);
    border-radius: 50%;
    animation: ping 1.5s infinite;
    z-index: 0;
  }
}

.whatsapp-icon {
  position: relative;
  z-index: 1;
  border: 2px solid #26d466;
  padding: 8px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  svg {
    width: 33px;
    height: 33px;
    fill: #159143;
  }
}

@keyframes ping {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  75% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
