@import "../../../scss/main.scss";

.gal {
  margin-top: 80px;
}
.gal-title {
  padding-bottom: 60px;
  @media (max-width:768px) {
    text-align: center;
  }
  h3 {
    display: inline-block;
    @include font1;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 38px;
    position: relative;
    @media (max-width:768px) {
      font-size: 32px;
    }
    @media (max-width:576px) {
      font-size: 26px;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
    &::before {
      transition: 0.3s ease-in-out;
      content: "";
      position: absolute;
      bottom: -7px;
      width: 0%;
      height: 2px;
      background: #000;
    }
  }
}
.gal-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    .item2 {
      order: 1;
    }
    .item1 {
      order: 2;
    }
  }
  .gal-img {
    max-width: 500px;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
  .gal-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    @include font1;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
    span {
      display: block;
      font-size: 12px;
      letter-spacing: 2px;
      color: grey;
    }
    h4 {
      font-size: 16px;
      letter-spacing: 1px;
      margin-block: 8px;
      @media (max-width: 768px) {
        font-size: 14px;
        margin-block: 0;
      }
    }
    p {
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.5px;
      color: #3d3d3d;
      @media (max-width: 768px) {
        font-size: 12px;
        letter-spacing: 0.2px;
      }
    }
  }
}
