@import "../../scss/main.scss";

.collection-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
  h2 {
    @include font1;
    font-size: 30px;
    letter-spacing: 2.2px;
    font-weight: 300;
    text-transform: uppercase;
    @media (max-width: 1156px) {
      font-size: 27px;
    }
    @media (max-width: 768px) {
      font-size: 23px;
    }
    @media (max-width: 576px) {
      font-size: 18px;
    }
  }
}
.collection-partition {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;

  @media (max-width: 1156px) {
    grid-template-columns: 1fr;
  }
}
.collection-categories {
  //   border: 1px solid red;
  padding: 0 25px 30px;
  @media (max-width: 1156px) {
    // padding: 20px 25px;
    padding: 0;
    width: 500px;
    display: flex;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    text-align: center;
    width: 480px;
  }
  @media (max-width: 576px) {
    width: 430px;
  }
  @media (max-width: 480px) {
    width: 370px;
  }
  @media (max-width: 420px) {
    width: 300px;
  }
  @media (max-width: 360px) {
    width: 270px;
  }
  .collection-categories-item {
    @include font1;
    border-bottom: 1px solid rgba(128, 128, 128, 0.594);
    // margin-bottom: 18px;
    // padding: 10px;
    padding-block: 18px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    color: rgb(83, 83, 83);
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in-out;
    position: relative;
    &:hover{
      &::before{width: 100%;}
    }
    &::before{
      transition: .3s ease-in-out;
      content: "";
      position: absolute;
      width: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      background: black;
    }
    @media (max-width: 1156px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      font-size: 14px;
      letter-spacing: 2px;
    }
    @media (max-width: 576px) {
      font-size: 12px;
      letter-spacing: 1.5px;
    }
    @media (max-width: 480px) {
      font-size: 12px;
      letter-spacing: 0;
    }
    @media (max-width: 420px) {
      font-size: 10px;
    }
    @media (max-width: 360px) {
      font-size: 9px;
    }
  }

  .categories-item-active {
    // border-radius: 9px;
    // background: rgba(128, 128, 128, 0.192);
    border-bottom: 2px solid black;
    color: black;
    &::before{
      content: none;
    }
  }
}
.collection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  position: relative;
  min-height: 280px;
  @media (max-width: 1020px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection-item {
    cursor: pointer;
    .collection-item-img {
      width: 100%;
      height: 330px;
      overflow: hidden;

      @media (max-width: 1156px) {
        height: 380px;
      }
      @media (max-width: 768px) {
        height: 280px;
      }
      @media (max-width: 576px) {
        height: 380px;
      }
      @media (max-width: 480px) {
        height: 350px;
      }
      @media (max-width: 420px) {
        height: 300px;
      }
      @media (max-width: 350px) {
        height: 260px;
      }
    }
    .collection-item-data {
      text-align: center;
      p {
        @include font1;
        text-transform: capitalize;
        font-size: 11px;
        color: rgb(29, 29, 29);
        margin-top: 8px;
        line-height: 17px;
        text-transform: uppercase;
        color: #525252;
        font-weight: 300;
        letter-spacing: 1.5px;
      }
      span {
        @include font1;
        display: inline-block;
        text-transform: capitalize;
        font-size: 12px;
        color: rgb(29, 29, 29);
        margin-top: 2px;
        line-height: 19px;
        text-transform: uppercase;
        color: #525252;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
  }
}
.collection-image {
  transition: 0.5s ease-in-out;
  &:hover {
    transform: scale(1.04);
  }
}
//
.collection-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    padding: 30px;
  }
  .loader {
    width: 35px;
    height: 35px;
    border: 5px dotted #000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
