* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: black;
  /* font-family: "Questrial", sans-serif; */
}
.img-full{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
button{
  cursor: pointer;
}
.transition{
  transition: .3s ease-in-out;
}
a{
  text-decoration: none;
}